/* Center and style the color picker button */
#colorPicker {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .color-picker {
    display: none;
    position: absolute;
    top: 100px; /* Adjust as needed */
    left: 100px; /* Adjust as needed */
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999;
  }