a {
    color: #EDC0E6;
    color: #B47BAF;
    /* color: #214067; */
    color: #BFDFEF;
    color: #5FDBF4;
    color: #5A9ACD;
}


palette { 
    color: #DED7C2;
    color : #D17A4C;
    color : #7AD4E1;
    color : #EBE7D4;
    color : #8BDBDF;
    color : #5c8795;
}