/* Style for the password toggle button icon */
.password-toggle-btn i {
    cursor: pointer;
  }
  
  /* Hide the button outline when focused */
  .password-toggle-btn:focus {
    outline: none;
  }
  
  .or-separator {
    display: flex;
    align-items: center;
  }
  
  .or-separator .line {
    flex-grow: 1;
    height: 1px;
    background-color: rgb(0, 0, 0);
  }
  
  .or-separator .or-text {
    padding: 0 10px; /* Adjust spacing around the text */
  }
  