body {
    background: url("../assets/images/theme_background.jpeg");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: 	rgba(0, 0, 0, 0.5) !important;
        backdrop-filter: blur(3px);
    }
}

.customBack {
    transition: 0.3s background-color !important;
    background-color: #5ccebe;
}

.customBack:hover {
    background-color: #c74b71 !important;
}

.custom {
    color: #5ccebe;
}

.custom:hover {
    color:#c74b71;
}

.linkhover {
    transition: 0.1s background-color;
    color: white;
}

.linkhover:hover {
    color: black;
}